src/wsdl/192.168.36.191_8080/GamePlayer/GamePlayerControl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gameplayercontrol.game.bnd.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gameplayercontrol.game.bnd.ch/" name="GamePlayerControl">
<wsp:Policy wsu:Id="GamePlayerControlPortBindingPolicy"/>
<types>
<xsd:schema>
<xsd:import namespace="http://gameplayercontrol.game.bnd.ch/" schemaLocation="http://192.168.36.191:8080/GamePlayer/GamePlayerControl?xsd=1"/>
</xsd:schema>
</types>
<message name="startNewGame">
<part name="parameters" element="tns:startNewGame"/>
</message>
<message name="startNewGameResponse">
<part name="parameters" element="tns:startNewGameResponse"/>
</message>
<message name="finishGame">
<part name="parameters" element="tns:finishGame"/>
</message>
<message name="finishGameResponse">
<part name="parameters" element="tns:finishGameResponse"/>
</message>
<message name="receiveFeedbackForLastGuess">
<part name="parameters" element="tns:receiveFeedbackForLastGuess"/>
</message>
<message name="receiveFeedbackForLastGuessResponse">
<part name="parameters" element="tns:receiveFeedbackForLastGuessResponse"/>
</message>
<message name="giveNextGuess">
<part name="parameters" element="tns:giveNextGuess"/>
</message>
<message name="giveNextGuessResponse">
<part name="parameters" element="tns:giveNextGuessResponse"/>
</message>
<portType name="GamePlayerControl">
<operation name="startNewGame">
<input wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/startNewGameRequest" message="tns:startNewGame"/>
<output wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/startNewGameResponse" message="tns:startNewGameResponse"/>
</operation>
<operation name="finishGame">
<input wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/finishGameRequest" message="tns:finishGame"/>
<output wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/finishGameResponse" message="tns:finishGameResponse"/>
</operation>
<operation name="receiveFeedbackForLastGuess">
<input wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/receiveFeedbackForLastGuessRequest" message="tns:receiveFeedbackForLastGuess"/>
<output wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/receiveFeedbackForLastGuessResponse" message="tns:receiveFeedbackForLastGuessResponse"/>
</operation>
<operation name="giveNextGuess">
<input wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/giveNextGuessRequest" message="tns:giveNextGuess"/>
<output wsam:Action="http://gameplayercontrol.game.bnd.ch/GamePlayerControl/giveNextGuessResponse" message="tns:giveNextGuessResponse"/>
</operation>
</portType>
<binding name="GamePlayerControlPortBinding" type="tns:GamePlayerControl">
<wsp:PolicyReference URI="#GamePlayerControlPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="startNewGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="finishGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiveFeedbackForLastGuess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="giveNextGuess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GamePlayerControl">
<port name="GamePlayerControlPort" binding="tns:GamePlayerControlPortBinding">
<soap:address location="http://192.168.36.191:8080/GamePlayer/GamePlayerControl"/>
</port>
</service>
</definitions>